 .footer{
background:#2E2A72;
color:white;
padding:40px;
text-align:center;
}

.footer h2{
margin-bottom:10px;
}

.footer p{
margin:8px 0;
}

.copyright{
margin-top:20px;
font-size:14px;
opacity:0.8;
}