 .sidebar {
    width: 240px;
    height: 100vh;

    background: #1d2144;
    color: white;

    padding: 25px 15px;

    position: fixed;
    left: 0;
    top: 0;

    overflow-y: auto;

    z-index: 1000;
}

.sidebar-brand {
    padding: 0 10px 30px;
}

.sidebar-brand h2 {
    margin-bottom: 5px;
    font-size: 26px;
}

.sidebar-brand p {
    font-size: 13px;
    color: #d9d9d9;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 8px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 13px 14px;

    border-radius: 8px;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

.sidebar-menu a:hover {
    background: #5b47d8;
}

.sidebar-menu a.active {
    background: #5b47d8;
    font-weight: bold;
}