
<aside class="sidebar">

  <div class="sidebar-logo">
    <h2>Vendor Reliability</h2>
    <span>Procurement Platform</span>
  </div>

  <nav class="sidebar-nav">

    <a routerLink="/dashboard"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <a routerLink="/vendors"
       routerLinkActive="active">
      Vendors
    </a>

    <a routerLink="/procurement"
       routerLinkActive="active">
      Procurement
    </a>
    <a routerLink="/purchase-orders"
   routerLinkActive="active">
  Purchase Orders
</a>

<a routerLink="/reports"
   routerLinkActive="active">
  Reports
</a>

<a routerLink="/analytics"
   routerLinkActive="active">
  Analytics
</a>

    
    