.container{

    width:500px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);

}


.header h2{

    margin-bottom:20px;
    color:#1e293b;

}



form{

    display:flex;
    flex-direction:column;
    gap:15px;

}



input,
textarea,
select{

    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;

}



textarea{

    height:100px;

}



.buttons{

    display:flex;
    gap:15px;

}



.save-btn{

    flex:1;
    background:#16a34a;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;

}



.cancel-btn{

    flex:1;
    background:#dc2626;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;

}