.container{

    width:500px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);

}


h2{

    margin-bottom:20px;

}



form{

    display:flex;
    flex-direction:column;
    gap:15px;

}



input,
textarea,
select{

    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;

}



textarea{

    height:100px;

}



button{

    background:#2563eb;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;

}



.cancel{

    background:#dc2626;

}