<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>VendorIQ - Login</title>

    <link rel="stylesheet"
          href="/static/login.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>


<div class="login-container">


    <!-- LEFT SIDE -->

    <div class="login-left">


        <!-- BRAND -->

        <div class="brand">

            <div class="brand-icon">

                <i class="fa-solid fa-shield-halved"></i>

            </div>


            <div class="brand-text">

                <h1>VendorIQ</h1>

                <p>
                    Vendor Reliability Platform
                </p>

            </div>

        </div>



        <!-- CONTENT -->

        <div class="left-content">

            <h2>
                Login to VendorIQ
                <span>Vendor Reliability Platform</span>
            </h2>


            <p>
                Securely access your personalized dashboards
            </p>

        </div>



        <!-- ROLE VISUAL -->

        <div class="role-visual">

            <div class="role-circle">

                <i class="fa-solid fa-users"></i>

            </div>


            <div class="role-list">

                <span>
                    <i class="fa-solid fa-user-shield"></i>
                    Admin
                </span>

                <span>
                    <i class="fa-solid fa-store"></i>
                    Vendor
                </span>

                <span>
                    <i class="fa-solid fa-file-shield"></i>
                    Auditor
                </span>

                <span>
                    <i class="fa-solid fa-wallet"></i>
                    Finance
                </span>

                <span>
                    <i class="fa-solid fa-user-tie"></i>
                    Procurement Manager
                </span>

                <span>
                    <i class="fa-solid fa-truck"></i>
                    Supply Chain Manager
                </span>

            </div>

        </div>


    </div>



    <!-- RIGHT SIDE -->

    <div class="login-right">


        <div class="login-header">

            <h2>Welcome Back</h2>

            <p>
                Login to access your dashboard.
            </p>

        </div>



        <!-- LOGIN FORM -->

        <form id="loginForm"
              class="login-form">


            <!-- USERNAME -->

            <div class="input-group">

                <label>Username</label>


                <div class="input-wrapper">

                    <i class="fa-solid fa-user"></i>

                    <input
                        type="text"
                        id="username"
                        placeholder="Enter your username"
                        required
                    >

                </div>

            </div>



            <!-- PASSWORD -->

            <div class="input-group">

                <label>Password</label>


                <div class="password-wrapper">

                    <i class="fa-solid fa-lock"></i>


                    <input
                        type="password"
                        id="password"
                        placeholder="Enter password"
                        required
                    >


                    <i
                        class="fa-solid fa-eye password-toggle"
                        id="togglePassword">
                    </i>

                </div>

            </div>



            <!-- OPTIONS -->

            <div class="login-options">

                <label class="remember">

                    <input
                        type="checkbox"
                        id="rememberMe"
                    >

                    Remember Me

                </label>


                <a
                    href="/ForgetPassword"
                    class="forgot-password">

                    Forgot Password?

                </a>

            </div>



            <!-- LOGIN BUTTON -->

            <button
                type="submit"
                class="login-button"
                id="loginButton">

                <span id="buttonText">
                    Login
                </span>

                <i class="fa-solid fa-arrow-right"></i>

            </button>



            <!-- MESSAGE -->

            <div id="message"></div>


        </form>



        <!-- =========================================================
            ACCOUNT / REGISTRATION SECTION
        ========================================================== -->

        <div class="account-section">

            <p class="account-title">Don't have an account?</p>

            <div class="registration-options">

                <!-- USER REGISTRATION -->
                <a href="/register" class="registration-button user-registration">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Create New User Account</span>
                </a>

                <!-- OR -->
                <div class="registration-or">
                    <span>OR</span>
                </div>

                <!-- VENDOR REGISTRATION -->
                <a href="/register_vendor" class="registration-button vendor-registration">
                    <i class="fa-solid fa-store"></i>
                    <span>Create New Vendor Account</span>
                </a>

            </div>

        </div>


    </div>


</div>


<script src="/static/login.js"></script>

</body>

</html>